/* Header */
.header {
    height: var(--header-height);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

.header-logo {
    height: 79px;
}

.header-logo__link {
    text-decoration: none;
}

.header-logo__img {
    height: 100%;
}

.header-name {
    align-items: center;
    flex: 1;
}

.header-name_link {
    text-decoration: none;
}

.header-name__name {
    font-size: 2.5rem;
    margin: 0;
    color: var(--black-color);
    text-transform: uppercase;
    line-height: 3rem;
    display: flex;
    padding-left: 16px;
}

.header-info {
    width: 205px;
    position: relative;
    margin: 8px 0;
}

.header-info__language {
    width: 110px;
    margin-left: auto;
    position: relative;
}

.header-info__language:hover  .header-info__language-list {
    display: block;
}

.header-info__language-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    display: flex;
    line-height: 30px;
    align-items: center;
    justify-content: space-around;
}

.header-info__language-flag {
    width: 20px;
}

.header-info__language-list {
    padding: 0 8px;
    list-style: none;
    background-color: var(--background-color);
    margin: 0;
    position: absolute;
    top: calc(100% + 6px);
    display: none;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.header-info__language-list::before {
    content: "";
    display: block;
    height: 25px;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0px;
}

.header-info__language-item-link {
    display: block;
    color: var(--black-color);
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 35px;
}

.header-info__work-hours {
    text-align: right;
    width: 169px;
    margin-left: auto;
}

.header-info__work-hours-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    display: block;
    line-height: 27px;
}

.header-info__search {
    display: inline-block;
    position: absolute;
    bottom: 3px;
    right: calc(169px + 10px);
}

.header-info__search-link {
    text-decoration: none;
    color: var(--black-color);
}

.search-icon {
    font-size: 2rem;
}

.search-wrapper {
    padding: 20px 0 30px;
    background-image: url("/assets/img/Background_img_search.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--background-color);
    min-height: 146px;
    display: none;
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search {
    flex: 1;
    position: relative;
    min-height: 88px;
}

.header-search__input {
    border-bottom: 2px solid #666;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    font-size: 3rem;
    outline: none;
    padding: 7px 0;
    line-height: 4.2rem;
}

.header-search__input:focus {
    border-bottom: 2px solid var(--primary-color);
}

.header-search__link {
    font-size: 2.4rem;
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: #666;
    right: 16px;
    top: 4px;
    padding: 10px;
}

.header-search__cancel {
    margin-left: 16px;
    margin-top: -33px;
}

.header-search__cancel-link {
    display: inline-block;
    font-size: 3.5rem;
    text-decoration: none;
    color: #666;
    padding: 4px 9px;
}


/* Navigation */
.navbar-wrapper {
    border-bottom: 1px solid #ccc;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    position: relative;
}

.navbar-item:first-child {
    background-color: none;
}

.navbar-item__link {
    text-decoration: none;
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 12px;
}

.navbar-item:hover .sub-nav {
    display: block;
}

.navbar-item:first-child .navbar-item__link{
    padding-left: 0;
}

/* Sub navigation */

.sub-nav.sub-nav-first {
    margin-left: -83px;
    position: absolute;
    right: 0;
    left: 0;
    box-shadow: none;
}

.sub-nav.sub-nav-first::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    position: absolute;
    z-index: -1;
    padding-left: 83px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.sub-nav .sub-nav-first-item {
    display: inline-block;
}

.sub-nav .sub-nav-first-item  >a {
    display: inline-block;
    padding: 12px;
    border-top: none;
}

.sub-nav .sub-nav-first-item:first-child .sub-nav-item__link {
    margin-left: 83px;
}

.display_none {
    display: none !important;
}

/* Slider */
.slider {
    height: 607px;
    margin-top: 156px;
    position: relative;
}

.slider-img__container{
    padding-top: 607px;
    background-image: url('/assets/img/Slider/slider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__arrow-left {
    left: 0;
}

.slider__arrow-right {
    right: 0;
}

.slider__page-container{
    position: absolute;
    bottom: 34px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.slider__page {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: var(--white-color);
    margin: 0 3px;
    border-radius: 50%;
}

.slider__page--enable {
    background-color: var(--primary-color);
    width: 22px;
    height: 22px;
}

/* Category */
.category {
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.category-item {
    padding-top: 258px;
    padding-right: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}

.category-item__link {
    text-decoration: none;
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    line-height: 3rem;
}

.category-item__link-text {
    position: absolute;
    display: block;
    padding: 0 14px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.category-item__link:hover  .category-item__link-text{
    height: 50%;
    bottom: 0;
}

/* Search */
.search {
    
}

.search-content {
}

.search-icon-content {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 12px;
}

.search-content__search {
    width: 100%;
    position: relative;
    top: 10px;
}

.search-content__search-input {
    width: 100%;
    font-size: 2rem;
    padding: 7px 0 7px 40px;
    outline: none;
    border: 1px solid var(--black-color);
}

.search-content__category {
    display: flex;
    align-items: content;
    margin-top: 34px;
    justify-content: space-between;
}

.search-btn {
    width: 110px;
    height: 58.8px;
    line-height: 2rem;
}

.search-content__menu-link {
    display: flex;
    text-decoration: none;
    padding: 7px 8px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 1.7rem;
    font-weight: 600;
    width: 278px;
    height: 35.4px;
    justify-content: space-between;
    align-items: center;
}

/* Sub-memu */
.sub-menu {
    list-style: none;
    background-color: var(--white-color);
    padding: 0;
    margin: 2px 0;
    max-height: 300px;
    display: none;
}

.search-content__menu:active .sub-menu {
    display: block;
}

.sub-menu__item {
    font-size: 1.6rem;
    padding: 10px 5px;
    cursor: default;
}

.sub-menu__item:hover {
    background-color: #f2f2f2;
}

.sub-menu__item:first-child {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
}

.sub-menu__icon {
    margin-right: 10px;
}

/* Available */
.available-list {
    margin-top: 20px;
    display: flex;
}

.available-item {
    background-color: var(--white-color);
    margin: 0 10px;
    text-align: center;
}

.available-item:last-child .available-link {
    margin-bottom: 29px;
}

.available-link {
    display: flex;
    padding-top: 216px;
    padding-right: 380px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.available-item__desc {
    padding: 15px;
}

.available-item__text {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 2.6rem;
    text-transform: uppercase;
    line-height: 3rem;
}

.available-item__price {
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 600;
    padding: 16px 0;
}

.available-item__info-list {
    margin: 12px 0 18px;
}

.available-item__info-item {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

/* News */
.news-container {
    display: flex;
}

.news-column {
    margin-right: 11px;
}

.news-column:last-child {
    margin-right: 0;
}

.news-column:first-child .news-link {
    width: 301px;
    height: 892px;
}

.news-item {
}

.news-link {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--black-color);
    font-size: 1.3rem;
    display: flex;
}

.news-link:hover {
    opacity: 0.8;
}


.news-link__img {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.news-info {
    padding: 22px;
    position: relative;
}

.news-link__heading {
    margin: 0 0 10px 0;
    font-size: 2.4rem;
    text-transform: uppercase;
    line-height: 1.4;
    
}

.news-link__time {
    margin-bottom: 15px;
}

.news-link__desc {
    line-height: 1.3;
    margin-bottom: 15px;
}

.news-link__btn {
    position: absolute;
    bottom: 22px;
    left: 22px;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}

.news-link__btn-icon {
    font-size: 1.4rem;
    padding-left: 10px;
    color: var(--white-color);
}


/* Footer */
.footer{
    background-image: url(../img/Background_img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid #acacac;
}

.footer-container {
    padding: 33px 0;
    width: 100%;
}

/* Footer top */

.footer-top {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 2px solid #acacac;
}

.footer-img {
    max-height: 68px;
    margin-right: 25px;
}

.footer-nav__link {
    text-decoration: none;
    color: #888888;
    font-size: 1.4rem;
}

.footer-nav__link:hover {
    color: var(--primary-color);
}

.footer-nav__link:nth-child(2) {
    padding: 0 20px;
    position: relative;
}

.footer-nav__link:nth-child(2)::before {
    content: "";
    display: inline-block;
    height: 18px;
    border-left: 1px solid #888;
    position: absolute;
    bottom: -3px;
    right: 10px;
    
}   

.footer-nav__link:nth-child(2)::after {
    content: "";
    display: inline-block;
    height: 18px;
    border-right: 1px solid #888;
    position: absolute;
    bottom: -3px;
    left: 10px;
}

.footer-btn {
    margin-left: auto;
}


/* Footer mid */
.footer-mid {
    
}

.footer-row {
    display: flex;
}

.footer-row:nth-child(2) {
    border-bottom: 2px solid #b0b0b0;
}

.footer-columns {
    padding: 36px 30px 22px;
    flex: 1;
    border-bottom: 2px solid #ababab;
    position: relative;
}

.footer-columns:first-child {
    padding-left: 0;
}

.footer-columns:first-child::after {
    content: "";
    display: block;
    height: 84%;
    border-right: 2px solid #ababab;
    position: absolute;
    right: 0;
    top:36px;
}

.footer-columns:last-child {
    padding-right: 0;
}

.footer__heading {
    margin: 0 0 26px 0;
    font-size: 2.4rem;
}

.footer-info {
    display: flex;
}

.footer-contact {
    margin-right: 30px;
    flex: 1;
    
}

.footer__sub-heading {
    text-transform: uppercase;
    margin: 8px 0;
    font-size: 1.8rem;
}

.footer-contact__adress {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #666;
    margin: 0;
    padding-top: 10px;
}

.footer-contact__info {
    display: block;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    margin: 10px 0;
}

.footer-contact__icon {
    font-size: 2.0rem;
    margin-right: 5px;
}

.footer-times {
    flex: 1;
    font-size: 1.4rem;
}

.footer-times__dates {
    display: inline-block;
    padding-right: 14px;
    margin: 8px 0;
    font-weight: 600;
    color: #666;
    position: relative;
}   

.footer-times__hours {
    display: inline-block;
    padding-left:14px ;
    margin-top: 10px;
    color: #666;
}

.footer-btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-btn-contact {
    margin: 5px 0 5px;
}

.footer-btn--black {
    background-color: var(--black-color);
}

.footer-times__dates--sunday::before {
    content: "";
    display: block;
    width: 250px;
    border: 1px solid #848484;
    position: absolute;
    top: -8px;
}

.footer-times__dates--sunday {
    margin-right: 60px;
}